@import '~root/App/variables';

.header {
    background-color: $standard-header-background-color;
    margin: 0 auto;
    padding: 0px;
    min-height: 10px;
    border: 1px solid $standard-header-border-color;

    nav {
        display: block;

        ul {
            box-sizing: border-box;
            background-color: $standard-navbar-color;
            display: block;
            list-style-type: none;
            margin-block-end: 0px;
            margin-block-start: 0px;
            margin-inline-end: 0px;
            margin-inline-start: 0px;
            padding-block-start: 10px;
            padding-block-end: 10px;
            padding-inline-start: 10px;
            padding-inline-end: 10px;
            overflow: hidden;
            li {
                display: list-item;
                list-style-type: none;
                float: left;
                a {
                    display: inline-block;
                    padding: 11px 27px;
                    margin: 20px 4px;
                    text-align: center;
                    text-decoration: #ffffff none solid;
                    background-color: $standard-navbar-button-color;
                    color: $standard-navbar-button-text-color;
                    border-right: 1px solid $standard-navbar-color;
                }
                &.right {
                    border-right: initial;
                    border-left: 1px solid $standard-navbar-color;
                    float: right;
                }
                &.active {
                    a {
                        background-color: $standard-navbar-button-active-color;
                        color: $standard-navbar-button-text-active-color;
                    }
                }
                &.menulogo {
                    a {
                        padding: 0 !important;
                        margin: 0px;
                        background-color: transparent;
                        font-size: 0.85em;
                        font-stretch: condensed;
                    }
                }
            }
        }
    }
}
