$standard-body-background-color: #d3d3d3;
$standard-header-background-color: lighten($standard-body-background-color, 10%);
$standard-header-border-color: darken($standard-body-background-color, 50%);

$standard-navbar-color: #000000;
$standard-navbar-button-color: lighten($standard-navbar-color, 20%);
$standard-navbar-button-text-color: silver;
$standard-navbar-button-active-color: blue;
$standard-navbar-button-text-active-color: white;

$standard-font-family: "Lucida Grande";
