@import "variables";

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $standard-font-family;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

body {
  background-color: $standard-body-background-color;
  margin: 0 auto;
  padding: 0px;
}
